{% extends 'header.html' %}

{% block content %}
{% include 'sidebar.html' %}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-cart icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>Welcome to Agro-Sales.AI System
                        <div class="page-title-subheading">AI Powered Agricultural Inventory System
                        </div>
                    </div>
                </div>
<div class="container">
        <div class="row align-items-end">


            <form method="POST" action="{% url 'analyser' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Is the patient experiencing Abdominal Pain, recently?</span>
                        <select class="form-select" name="q1">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Does the patient suffer from Diarrhea?</span>
                        <select class="form-select" name="q2">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
        </div>
        <div class="mb-3">
            <input type="submit" id="join-btn" name="join" alt="Join" value="Analyse">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Analysis Report</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{prediction}}"></textarea>
        </div>
        </form>

    </div>
{% endblock content %}